rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura a las colecciones de la app para la gestión de domicilios Nubex
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
